@import "_colors.scss";

.banner {
  background: $white;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;

  h4 {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px;
  }

  label {
    font-size: 16px;
    color: $md-grey-500;
    display: inline;
    font-weight: 100;
    margin-right: 0.2em;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .vertical-divider {
    border-right: solid 1px $md-blue-grey-100;
  }
}


