<open-patients></open-patients>
<patient-banner></patient-banner>
<div class="row">
  <div class="col-lg-1">
    <div class="list-group">
      <a class="list-group-item navigation-item" routerLinkActive="active">Summary</a>
      <a class="list-group-item navigation-item">Encounters</a>
      <a class="list-group-item navigation-item">Investigations</a>
      <a class="list-group-item navigation-item">Scripts</a>
      <a class="list-group-item navigation-item">Vitals</a>
      <a class="list-group-item navigation-item">Documents</a>
      <a class="list-group-item navigation-item">Medical History</a>
      <a class="list-group-item navigation-item">Social & Family</a>
      <a class="list-group-item navigation-item">Allergies</a>
      <a class="list-group-item navigation-item">Immunisations</a>
    </div>
  </div>
  <div class="col-lg-11">
    <router-outlet></router-outlet>
  </div>
</div>
