<div class="row">
  <open-patients class="col-lg-12"></open-patients>
</div>
<div class="row">
  <patient-banner class="col-lg-12 flex-items-lg-left banner"></patient-banner>
</div>
<div style="overflow: auto; margin-bottom: 60px" class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
    <div class="list-group">
      <a class="list-group-item">Summary</a>
      <a class="list-group-item">Encounters</a>
      <a class="list-group-item">Investigations</a>
      <a class="list-group-item">Scripts</a>
      <a class="list-group-item">Vitals</a>
      <a class="list-group-item">Documents</a>
      <a class="list-group-item">Medical History</a>
      <a class="list-group-item">Social & Family History</a>
      <a class="list-group-item">Allergies & Intolerances</a>
      <a class="list-group-item"><i></i>Immunisations</a>
    </div>
  </div>
  <router-outlet class="col-lg-10"></router-outlet>
</div>
