<div class="banner">

  <img class="patient-profile-picture" src="../../images/user-icon.svg"/>

  <h4>{{currentPatient?.name[0].prefix}} {{currentPatient?.name[0].given}} {{currentPatient?.name[0].family}}</h4>

  <div>
    <img class="icon-sm" src="../../images/birthday-icon.svg"/>
    <a>{{currentPatient?.birthDate | date: 'dd MMMM yyyy'}}</a>
    <img class="icon-sm" *ngIf="currentPatient?.gender === 'male'" src="../../images/male-icon.svg"/>
    <img class="icon-sm" *ngIf="currentPatient?.gender ==='female'" src="../../images/female-icon.svg"/>
    <a>{{currentPatient?.gender}}</a>
  </div>


  <div>
    <div>
      <img class="icon-sm" src="../../images/mobile-phone-icon.svg"/>
      <a></a>
    </div>
    <div>
      <img class="icon-sm" src="../../images/home-icon.svg"/>
      <a></a>
    </div>
  </div>

  <div>
    <div>
      <img class="icon-sm" src="../../images/current-smoker-icon.svg"/>
      <img class="icon-sm" src="../../images/ex-smoker-icon.svg"/>
      <img class="icon-sm" src="../../images/never-smoked-icon.svg"/>
      <a></a>
    </div>
    <div>
      <img class="icon-sm" src="../../images/no-alcohol-icon.svg"/>
      <img class="icon-sm" src="../../images/heavy-alcohol-icon.svg"/>
      <a class="content"></a>
    </div>
  </div>
</div>

