<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">Sidonia</a>

    <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
        <a class="nav-item nav-link" routerLink="appointments" routerLinkActive="active">Appointments</a>
        <a class="nav-item nav-link" routerLink="settings" routerLinkActive="active">Settings</a>
    </div>
</nav>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>