@import './styles/_variables.scss';
@import './styles/_colors.scss';
@import './styles/_banner.scss';
@import './styles/_tab-item.scss';
@import './styles/_icons.scss';
@import 'styles/_list-items.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: $md-blue-grey-50;
  padding-top: 70px;
}

.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: $md-blue-grey-400;
}
